language: python
python:
    - "3.5"
before_install:
    - sudo apt-get install python3-tk
    - curl -O https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-5.3.0.deb && sudo dpkg -i --force-confnew elasticsearch-5.3.0.deb && sudo service elasticsearch start
install:
    - pip install -r misc/requirements.txt
    - pip install -r misc/test_requirements.txt
    - python -m textblob.download_corpora
before_script:
    - sleep 10
script:
    - python helper/reset_elastic_indices.py
    - python -m pytest tests
notifications:
  slack: nautilusds:FU9mJgkONTb7Fpg8xD7qUACf
  email: false
addons:
    apt:
        packages:
            - oracle-java8-set-default
cache:
    pip: true
    directories:
        - $HOME/nltk_data
