language: python
sudo: required
python:
    - "3.5"
addons:
    apt:
        packages:
            - oracle-java8-set-default
before_install:
    - sudo apt-get install python3-tk
    - curl -O https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-5.3.0.deb && \
      sudo dpkg -i --force-confnew elasticsearch-5.3.0.deb && \
      sudo service elasticsearch start
    - curl -v http://localhost:9200/
install:
    - pip install -r misc/requirements.txt
    - pip install -r misc/test_requirements.txt
before_script:
    - sleep 10
script:
    - python -m textblob.download_corpora
    - python helper/reset_elastic_indices.py
    - python -m pytest tests
notifications:
  slack: nautilusds:FU9mJgkONTb7Fpg8xD7qUACf
