language: python
python:
    - "3.5"
env:
    - ES_VERSION=5.2.2 ES_DOWNLOAD=https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-5.2.2.deb
before_install:
    - sudo apt-get install python3-tk
    - curl -O ${ES_DOWNLOAD} && sudo dpkg -i --force-confnew elasticsearch-${ES_VERSION}.deb && sudo service elasticsearch restart
install:
    - pip install -r misc/requirements.txt
    - pip install -r misc/test_requirements.txt
before_script:
    - sleep 10
script:
    - python -m textblob.download_corpora
    - python helper/reset_elastic_indices.py
    - python -m pytest tests
notifications:
  slack: nautilusds:FU9mJgkONTb7Fpg8xD7qUACf
